.rotate {
    transform: rotate(180deg);
}
/* .show_main_option_display {
    display: block !important;
}
.hide_main_option_display {
    display: none !important;
}
.show_main_option_height {
    height: 76px !important;
}
.hide_main_option_height {
    height: 0 !important;
} */
