@import 'base/variables';
@import 'base/mixins';

body {
    background: url('@img/main/footer_bg.png') center center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@import 'block/preloader';
@import 'block/header';
@import 'block/page404/main';
@import 'block/page404/footer';
@import 'block/license';