@import 'base/variables';
@import 'base/mixins';


body {
    background: url('@img/main/footer_bg.png') center center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 425px) {
    body{
        height: 100%;
    }
}

@import 'block/preloader';
@import 'block/header';
@import 'block/contacts/main';
@import 'block/contacts/footer';
@import 'block/license';