@import 'base/variables';
@import 'base/mixins';

body {
    background: url('@img/main/footer_bg.png') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@import 'block/header';
@import 'block/contacts/heading';
@import 'block/contacts/main';
@import 'block/contacts/footer';
@import 'block/license';