.comp-phil {
    padding: 140px 0 0 263px;

    &__info {
        margin-top: 98px;
        margin-right: 132px;
        width: 383px;
    }

    &__title {
        width: 100%;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $second_text_color;
    }

    &__subtitle {
        width: 383px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: $second_text_color;
    }
}

.slider {
    display: flex;
    &__navigation {
        margin-top: 40px;
        width: 316px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__number {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $third_text_color;
        opacity: 0.5;
    }

    &-button {
        &-prev {
        }
        &-next {
        }
    }
    &-scrollbar {
        width: 227px;
        height: 2px;
        background: #828282;
        opacity: 0.32;
    }
}

.swiper {
    &-wrapper {
    }

    &-slide {
        width: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-scrollbar {
        /* &-drag {
            width: 88.52px;
            height: 2px;
            background: #000000;
            opacity: 0.7;
        } */
    }
}

@media (max-width:1356px) {
    .comp-phil {
        padding-left: 190px;
        &__info {
            margin-right: 102px;
        }
    }
    .swiper-slide {
    width: 75%;
    }
}

@media (max-width: 1248px) {
    .comp-phil {
        padding-left: 100px;

        &__info {
            margin-top: 50px;
            margin-right: 100px;
        }

        &__title {
        }

        &__subtitle {
        }
    }
    .slider {
        &__navigation {
        }

        &__number {
        }
    }
    .slider-button-prev {
    }
    .slider-scrollbar {
    }
    .slider-button-next {
    }
    .swiper {
    }
    .swiper-wrapper {
    }
    .swiper-slide {
    }
}
@media (max-width: 1024px) {
    .comp-phil {
        padding-left: 100px;

        &__info {
            margin-right: 100px;
        }

        &__title {
        }

        &__subtitle {
        }
    }
    .slider {
        flex-direction: column;
        &__navigation {
        }

        &__number {
        }
    }
    .slider-button-prev {
    }
    .slider-scrollbar {
    }
    .slider-button-next {
    }
    .swiper {
        margin-top: 50px;
    }
    .swiper-wrapper {
    }
    .swiper-slide {
        height: 400px;
    }
}
@media (max-width: 624px) {
    .comp-phil {
        padding: 50px 24px 0;

        &__info {
            margin-right: 0;
        }

        &__title {
        }

        &__subtitle {
        }
    }
    .slider {
        &__navigation {
        }

        &__number {
        }
    }
    .slider-button-prev {
    }
    .slider-scrollbar {
    }
    .slider-button-next {
    }
    .swiper {
        margin-top: 50px;
    }
    .swiper-wrapper {
    }
    .swiper-slide {
        height: 400px;
    }
}
@media (max-width: 425px) {
    .comp-phil {

        &__info {
            width: auto;
            margin-right: 0;
        }

        &__title {
        }

        &__subtitle {
            width: auto;
        }
    }
    .slider {
        &__navigation {
            width: 100%;
        }

        &__number {
        }
    }
    .slider-button-prev {
    }
    .slider-scrollbar {
        width: 75%;
    }
    .slider-button-next {
    }
    .swiper {
        margin-top: 50px;
    }
    .swiper-wrapper {
    }
    .swiper-slide {
        height: 200px;
    }
}
