.footer {
    padding: 140px 64px 24px;
    background: #ECECEC;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__wrapper {
        margin-left: 135px;
        width: 424px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 51px;
        color: $second_text_color;
    }

    &__form {
        margin-top: 131px;
        width: 382px;
        position: relative;
    }

    &__input {
        padding-bottom: 10px;
        width: 100%;
        font-weight: 300;
        font-size: 20px;
        line-height: 34px;
        color: $second_text_color;
        opacity: 0.7;
        background-color: transparent;
        border: none;
        border-bottom: solid;
        border-width: 1px;
        border-color: #51515130;
        outline: none;
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
    }

    &__subwrapper {
        margin-top: 224px;
        margin-right: 149px;
        width: 366px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: $second_text_color;
    }

    &__info {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__email {
        a {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: $second_text_color;
            text-decoration: none;
            &:hover {
                color: $second_text_color;
            }
        }
    }

    &__social {
        width: 78px;
        display: flex;
        justify-content: space-between;
        &-item {
            a {
                font-weight: 600;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.06em;
                color: $second_text_color;
                text-decoration: none;
                &:hover {
                    color: $second_text_color;
                }
            }
        }
    }
}

@media (max-width: 1248px) {
    .footer {

		&__container {
		}

		&__wrapper {
            margin-left: 75px;
		}

		&__title {
		}

		&__form {
            margin-top: 100px;
		}

		&__input {
		}

		&__btn {
		}

		&__subwrapper {
            margin-right: 75px;
		}

		&__subtitle {
		}

		&__info {
		}

		&__email {
		}

		&__social {
		}

		&__social-item {
		}
}

}
@media (max-width: 1088px) {
    .footer {
        padding-top: 100px;

		&__container {
		}

		&__wrapper {
            margin-left: 0;
		}

		&__title {
		}

		&__form {
            margin-top: 100px;
		}

		&__input {
		}

		&__btn {
		}

		&__subwrapper {
            margin-right: 0;
		}

		&__subtitle {
		}

		&__info {
		}

		&__email {
		}

		&__social {
		}

		&__social-item {
		}
}

}
@media (max-width: 922px) {
    .footer {

		&__container {
		}

		&__wrapper {
            width: 300px;
		}

		&__title {
		}

		&__form {
            width: auto;
		}

		&__input {
		}

		&__btn {
		}

		&__subwrapper {
            width: 300px;
		}

		&__subtitle {
		}

		&__info {
		}

		&__email {
		}

		&__social {
		}

		&__social-item {
		}
}

}
@media (max-width: 768px) {
    .footer {
        padding-top: 50px;

		&__container {
            flex-direction: column;
		}

		&__wrapper {
            width: auto;
		}

		&__title {
		}

		&__form {
            margin-top: 25px;
		}

		&__input {
		}

		&__btn {
		}

		&__subwrapper {
            margin-top: 50px;
            width: auto;
		}

		&__subtitle {
		}

		&__info {
		}

		&__email {
		}

		&__social {
		}

		&__social-item {
		}
}

}
@media (max-width: 425px) {
    .footer {
        padding: 50px 24px 24px;
		&__container {
		}

		&__wrapper {
		}

		&__title {
		}

		&__form {
		}

		&__input {
            font-size: 16px;
		}

		&__btn {
		}

		&__subwrapper {
		}

		&__subtitle {
		}

		&__info {
		}

		&__email {
		}

		&__social {
		}

		&__social-item {
		}
}

}