.heading {
    padding: 0 63px;
}
@media (max-width: 1024px) {
    .heading {
        padding: 0 54px;
    }
}
@media (max-width: 768px) {
    .heading {
        padding: 0 54px;
    }
}
@media (max-width: 425px) {
    .heading {
        padding: 0 24px;
    }
}
