.main {
    padding-top: 324px;
    padding-left: 265px;
    width: 600px;
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $main_text_color;
    }

    &__subtitle {
        margin-top: 24px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: $main_text_color;
        opacity: 0.7;
    }

    &__link {
        margin-top: 40px;
        a {
            @include discover;
            color: $main_text_color;
            &::before,
            &::after {
                background: rgba(255, 255, 255, 0.2);
            }
            &:hover {
                color: $main_text_color;
                &::before,
                &::after {
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    &__anchor {
        @include anchor;
        top: 335px;
        left: 69px;
        &::before {
            background: rgba(255, 255, 255, 0.04);
        }
    }
}

@media (max-width: 1024px) {
    .main {
        padding-top: 319px;
        padding-left: 211px;

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__subtitle {
        }

        &__link {
        }

        &__anchor {
        }
    }
}
@media (max-width: 768px) {
    .main {
        padding-left: 185px;

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__subtitle {
        }

        &__link {
        }

        &__anchor {
            top: 328px;
        }
    }
}
@media (max-width: 624px) {
    .main {
        padding-top: 252px;
        padding-left: 24px;
        width: auto;

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__subtitle {
        }

        &__link {
        }

        &__anchor {
            display: none;
        }
    }
}
