.header {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        margin-right: 141px;
        width: 60px;
        height: 13px;
        a {
            width: 100%;
            height: 100%;
            display: block;
            img {
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }
    }

    &__list {
        width: 338px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        &-item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            letter-spacing: 0.06em;
            position: relative;
            z-index: 2;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                transition: transform 0.3s ease-out;
                transform: scaleX(0);
                transform-origin: bottom right;
                z-index: 1;
            }
            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }

    &__link {
        color: $main_text_color;
        text-decoration: none;
        &:hover {
            color: $main_text_color;
        }
    }

    &__action {
        margin-left: 480px;
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__lang {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: $main_text_color;
    }

    &__btn {
        padding: 17px 48px;
        background: transparent;
        border: 1px solid rgba(253, 253, 253, 0.32);

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: $main_text_color;
        cursor: pointer;
    }
}
