.header {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper {
        width: 540px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 60px;
        height: 13px;
        a {
            width: 100%;
            height: 100%;
            display: block;
            img {
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }
    }

    &__list {
        width: 338px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        &-item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            letter-spacing: 0.06em;
            position: relative;
            z-index: 2;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                transition: transform 0.3s ease-out;
                transform: scaleX(0);
                transform-origin: bottom right;
                z-index: 1;
            }
            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }

    &__link {
        color: $main_text_color;
        text-decoration: none;
        &:hover {
            color: $main_text_color;
        }
    }

    &__action {
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-burger {
            height: 8px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            span {
                width: 28px;
                height: 1px;
                background-color: #fff;
            }
        }
    }

    &__lang {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: $main_text_color;
    }

    &__btn {
        padding: 17px 48px;
        background: transparent;
        border: 1px solid rgba(253, 253, 253, 0.32);

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: $main_text_color;
        cursor: pointer;
    }

    .sidemenu {
        width: 87px;
        display: none;
        align-items: center;
        .burger {
            height: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            span {
                width: 28px;
                height: 1px;
                background-color: #fff;
            }
        }
        &__title {
            margin-left: 23px;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: $main_text_color;
        }
    }
}

.header__dark {
    .header__list-item {
        &::after {
            background: #000;
        }
    }

    .header__link {
        color: $second_text_color;
        text-decoration: none;
        &:hover {
            color: $second_text_color;
        }
    }

    .header__action {
        &-burger {
            span {
                background-color: #000;
            }
        }
    }

    .header__lang {
        color: $second_text_color;
    }

    .header__btn {
        border: 1px solid rgba(0, 0, 0, 0.32);
        color: $second_text_color;
    }

    .sidemenu {
        .burger {
            span {
                background-color: #000;
            }
        }
        &__title {
            color: $second_text_color;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__wrapper {
            width: auto;
            justify-content: flex-start;
        }
        &__logo {
            margin-right: 97px;
        }

        &__list {
            display: none;
        }

        &__action {
            width: 231px;
        }

        &__btn {
            padding: 15px 35px;
        }
        .sidemenu {
            display: flex;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__wrapper {
            width: 237px;
            justify-content: flex-start;
        }
        &__logo {
            margin-right: 93px;
        }

        &__list {
            display: none;
        }

        &__action {
            width: 231px;
        }

        &__btn {
            padding: 15px 35px;
        }
        .sidemenu {
            display: flex;
        }
    }
}
@media (max-width: 624px) {
    .header {
        height: 58px;
        &__wrapper {
            width: auto;
            justify-content: flex-start;
        }
        &__logo {
            margin-right: 0;
        }

        &__action {
            width: 99px;
            &-burger {
                display: flex;
            }
        }

        &__btn {
            display: none;
        }
        .sidemenu {
            display: none;
        }
    }
}
