.license {
    margin-top: 119px;
    display: flex;
    justify-content: space-between;
    
    &__copyright {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: $third_text_color;
    }

    &__made {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: $third_text_color;
        img {
            margin-left: 24px;
        }
    }
}

@media (max-width: 1024px) {
    .license {
        margin-top: 112px;
    }
}
@media (max-width: 880px) {
    .license {
        margin-top: 103px;
    }
}
@media (max-width: 625px) {
    .license {
        &__made {
            text-align: right;
        }
    }
}
@media (max-width: 425px) {
    .license {
        margin-top: 56px;
        height: 51px;
        flex-direction: column;
        &__made {
            text-align: left;
        }
    }
}