.our-project {
    padding: 140px 50px 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $main_text_color;
    }

    &__anchor {
        @include anchor;
        top: 172px;
        left: 30px;
        color: $main_text_color;
        opacity: 0.13;
        &::before {
            background: $main_text_color;
        }
    }

    &__anchor-trail {
        @include anchor;
        bottom: 514px;
        left: 15px;
        color: $main_text_color;
        opacity: 0.13;
        &::before {
            background: $main_text_color;
        }
    }

    &__subtitle {
        margin: 0 auto;
        margin-top: 34px;
        width: 449px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $third_text_color;
    }

    &__projects {
        margin-top: 140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        position: relative;
        &-about {
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            position: absolute;
            top: -44px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-item {
            position: relative;
            &:last-child {
                width: 653px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #fff;
                position: relative;
                text-decoration: none;
                img {
                    margin-top: 24px;
                    width: auto;
                }
            }
            &:hover {
                .our-project__projects-info {
                    display: flex;
                }
                .our-project__projects-title {
                    display: block;
                }
            }
            img {
                width: 100%;
            }
        }
        &-info {
            display: none;
            justify-content: space-between;
            width: 181px;
            position: absolute;
            top: 32px;
            left: 32px;
        }
        &-name,
        &-date,
        &-area {
            font-weight: 500;
            font-size: 14px;
            line-height: 170%;
            color: $main_text_color;
        }
        &-title {
            display: none;
            position: absolute;
            bottom: 33px;
            left: 32px;
            font-weight: 700;
            font-size: 20px;
            line-height: 126%;
            color: $main_text_color;
            &__tight {
                width: 273px;
                bottom: 32px;
            }
        }
        &-link {
            display: none;
            position: absolute;
            bottom: 34px;
            left: 32px;

            a {
                @include discover;
                color: $main_text_color;
                padding: 0 71px 0 17px;
                &::before,
                &::after {
                    background: rgba(255, 255, 255, 0.4);
                }
                &::before {
                    width: 9px;
                    height: 1px;
                }
                &::after {
                    width: 63px;
                    height: 1px;
                }
            }
            &:hover {
                a {
                    &::before,
                    &::after {
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }

            &__right {
                left: auto;
                right: 85px;
            }
        }
        &-text {
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            color: $second_text_color;
        }
    }
}
