.our-project {
    padding: 140px 0 0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $main_text_color;
    }

    &__anchor {
        @include anchor;
        top: 172px;
        left: 30px;
        color: $main_text_color;
        opacity: 0.13;
        &::before {
            background: $main_text_color;
        }
    }

    &__anchor-trail {
        @include anchor;
        bottom: 514px;
        left: 15px;
        color: $main_text_color;
        opacity: 0.13;
        &::before {
            background: $main_text_color;
        }
    }

    &__subtitle {
        margin: 0 auto;
        margin-top: 34px;
        width: 449px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $third_text_color;
    }

    &__projects {
        margin-top: 140px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        position: relative;
        &-about {
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            position: absolute;
            top: -44px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-item {
            position: relative;
            filter: grayscale(50%);
            transition: all .1s ease-in;
            &__wider {
                width: 1314px;
            }
            &:last-child {
                width: 653px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #fff;
                position: relative;
                text-decoration: none;
                img {
                    margin-top: 24px;
                    width: auto;
                    height: auto;
                }
            }
            &:hover {
                filter: grayscale(0);
                .our-project__projects-info {
                    display: flex;
                }
                .our-project__projects-title {
                    display: block;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-info {
            display: none;
            justify-content: space-between;
            width: 181px;
            position: absolute;
            top: 32px;
            left: 32px;
        }
        &-name,
        &-date,
        &-area {
            font-weight: 500;
            font-size: 14px;
            line-height: 170%;
            color: $main_text_color;
        }
        &-title {
            display: none;
            position: absolute;
            bottom: 33px;
            left: 32px;
            font-weight: 700;
            font-size: 20px;
            line-height: 126%;
            color: $main_text_color;
            &__tight {
                width: 273px;
                bottom: 32px;
            }
        }
        &-link {
            display: none;
            position: absolute;
            bottom: 34px;
            left: 32px;

            a {
                @include discover;
                color: $main_text_color;
                padding: 0 71px 0 17px;
                &::before,
                &::after {
                    background: rgba(255, 255, 255, 0.4);
                }
                &::before {
                    width: 9px;
                    height: 1px;
                }
                &::after {
                    width: 63px;
                    height: 1px;
                }
            }
            &:hover {
                a {
                    &::before,
                    &::after {
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }

            &__right {
                left: auto;
                right: 85px;
            }
        }
        &-text {
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            color: $second_text_color;
        }
    }
}

@media (max-width: 1330px) {
    .our-project {
        padding: 124px 0 0;

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__anchor {
            top: 150px;
        }

        &__anchor-trail {
            bottom: 428px;
        }

        &__subtitle {
            margin-top: 24px;
        }

        &__projects {
            margin-top: 124px;
            &-about {
                display: none;
            }
            &-item {
                width: 453px;
                &:last-child {
                    width: 453px;
                    img {
                        width: 168px;
                        height: 223px;
                    }
                }
                &__wider {
                    width: 914px;
                }
            }
            &-info {
                display: flex;
            }
            &-name,
            &-date,
            &-area {
                font-size: 11px;
            }
            &-title {
                bottom: 71px;
                display: block;
                &__tight {
                    bottom: 32px;
                }
            }
            &-link {
                display: block;
            }
            &-text {
            }
        }
    }
}
@media (max-width: 914px) {
    .our-project {
        padding: 104px 0 0;

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__anchor {
            top: 130px;
        }

        &__anchor-trail {
            bottom: 428px;
        }

        &__subtitle {
            margin-top: 24px;
        }

        &__projects {
            margin-top: 104px;
            &-about {
                display: none;
            }
            &-item {
                width: 672px;
                &:last-child {
                    width: 672px;
                    height: 672px;
                    img {
                        width: 251px;
                        height: 331px;
                    }
                }
                &__wider {
                    width: 672px;
                    height: 672px;
                }
            }
            &-title {
                &__tight {
                    bottom: 71px;
                }
            }
            &-link {
                display: block;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .our-project {
        &__anchor-trail {
            bottom: 394px;
        }
    }
}
@media (max-width: 695px) {
    .our-project {
        padding: 104px 0 0;

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__anchor {
            top: 130px;
        }

        &__anchor-trail {
            bottom: 428px;
        }

        &__subtitle {
            margin-top: 24px;
        }

        &__projects {
            margin-top: 104px;
            &-about {
                display: none;
            }
            &-item {
                width: 480px;
                &:last-child {
                    width: 480px;
                    height: 480px;
                    img {
                        width: 251px;
                        height: 331px;
                    }
                }
                &__wider {
                    width: 480px;
                    height: 480px;
                }
            }
            &-title {
                &__tight {
                    bottom: 71px;
                }
            }
            &-link {
                display: block;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
    }
}

@media (max-width: 695px) {
    .our-project {
        &__anchor-trail {
            display: none;
        }
    }
}

@media (max-width: 525px) {
    .our-project {
        padding: 80px 0 0;

        &__title {
            font-size: 26px;
            line-height: 32px;
        }

        &__subtitle {
            margin-left: 25px;
            margin-right: 25px;
            width: auto;
        }

        &__anchor {
            display: none;
        }

        &__anchor-trail {
            display: none;
        }

        &__projects {
            margin-top: 80px;
            &-about {
                display: none;
            }
            &-item {
                width: 400px;
                &:last-child {
                    width: 400px;
                    height: 400px;
                    img {
                        width: 121px;
                        height: 161px;
                    }
                }
                &__wider {
                    width: 400px;
                    height: 400px;
                }
            }
            &-info {
                top: 24px;
                left: 24px;
                width: 160px;
            }
            &-name,
            &-date,
            &-area {
                font-size: 11px;
            }
            &-title {
                bottom: 53px;
                left: 24px;
                &__tight {
                    bottom: 53px;
                }
            }
            &-link {
                display: block;
                bottom: 24px;
                left: 24px;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
        &-text {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

@media (max-width: 425px) {
    .our-project {
        padding: 80px 0 0;
        align-items: normal;

        &__title {
            font-size: 26px;
            line-height: 32px;
            margin-left: 23px;
        }

        &__subtitle {
            margin: 0 23px;
            text-align: left;
            width: auto;
        }

        &__anchor {
            display: none;
        }

        &__anchor-trail {
            display: none;
        }

        &__projects {
            margin-top: 80px;
            &-about {
                display: none;
            }
            &-item {
                width: 327px;
                &:last-child {
                    width: 327px;
                    height: 327px;
                    img {
                        width: 121px;
                        height: 161px;
                    }
                }
                &__wider {
                    width: 327px;
                    height: 327px;
                }
            }
            &-info {
                top: 24px;
                left: 24px;
                width: 160px;
            }
            &-name,
            &-date,
            &-area {
                font-size: 11px;
            }
            &-title {
                bottom: 53px;
                left: 24px;
                &__tight {
                    bottom: 53px;
                }
            }
            &-link {
                display: block;
                bottom: 24px;
                left: 24px;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
        &-text {
            font-size: 20px;
            line-height: 25px;
        }
    }
}
