.heading {
    padding: 208px 63px 0;
    display: flex;
    flex-direction: column;

    &__wrapper {
        padding: 0 143px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $second_text_color;
    }

    &__select {
        width: 336px;
        display: flex;
        justify-content: space-between;
    }

    &__select-item {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $third_text_color;
        transition: all 0.3s;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #3a3e4b;
            opacity: 0.8;
            transition: transform 0.3s ease-out;
            transform: scaleX(0);
            transform-origin: bottom right;
        }
        &:hover {
            color: $second_text_color;
            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
        &__active {
            color: $second_text_color;
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 1px;
                background: #3a3e4b;
                opacity: 0.8;
                transition: transform 0.3s ease-out;
                transform: scaleX(1);
                transform-origin: bottom right;
            }
        }
    }
}

.dropdown {
    display: none;
    position: relative;
    margin-top: 32px;
    &__select {
        width: 128px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid #c4c4c4;
        border-radius: 88px;
        cursor: pointer;
        span {
            width: 79px;
            text-align: center;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: $second_text_color;
        }
    }
    &__img {
    }
    &__wrapper {
        position: absolute;
        margin-top: 5px;
        width: 128px;
        justify-content: space-evenly;
        border: 1px solid #c4c4c4;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        opacity: 0;
        z-index: -1;
        transition: all 0.2s ease;
        &__active {
            z-index: 2;
            opacity: 1;
        }
    }
    &__item {
        padding: 5px 0 5px 13px;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $second_text_color;
        cursor: pointer;
        &__active {
            background: #d9d9d9;
        }
    }
}

@media (max-width: 1200px) {
    .heading {
        padding: 162px 56px 0;

        &__wrapper {
            padding: 66px 0 0 105px;
            display: block;
        }

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__select {
            margin-top: 30px;
            width: 319px;
        }
    }
}
@media (max-width: 768px) {
    .heading {
        padding: 138px 48px 0;

        &__wrapper {
            padding: 42px 0 0 76px;
            display: block;
        }

        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__select {
            margin-top: 30px;
            width: 319px;
        }
    }
}
@media (max-width: 624px) {
    .heading {
        padding: 116px 24px 0;

        &__wrapper {
            padding: 58px 0 0 0;
            display: block;
        }

        &__title {
            font-size: 26px;
            line-height: 32px;
        }

        &__select {
            margin-top: 30px;
            width: 319px;
        }
    }
}
@media (max-width: 425px) {
    .heading {
        &__select {
            display: none;
        }
    }
    .dropdown {
        display: block;
    }
}