.news {
    padding: 124px 55px 140px;

    &__wrapper {
        margin: 0 auto;
        max-width: 1314px;
    }

    &__item {
        display: flex;
        margin-bottom: 8px;
        &:hover {
            .news__img {
             filter: grayscale(0);   
            }
        }
    }

    &__info {
        padding: 329px 167px 56px 56px;
        background: #f2f2f2;
    }

    &__info-title {
        width: 365px;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: $second_text_color;
    }

    &__info-subtitle {
        margin-top: 24px;
        width: 433px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: $second_text_color;
        opacity: 0.7;
    }

    &__info-link {
        margin-top: 56px;
        a {
            @include discover;
            color: $second_text_color;
            &::before,
            &::after {
                background: rgba(49, 49, 49, 0.2);
            }
            &:hover {
                &::before,
                &::after {
                    background: rgba(49, 49, 49, 1);
                }
            }
        }
    }

    &__img {
        transition: all .1s ease-in;
        filter: grayscale(50%);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-title {
        position: absolute;
        left: 56px;
        bottom: 56px;
        width: 227px;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: $main_text_color;
    }

    &__pagination {
        margin: 0 auto;
        margin-top: 96px;
        width: 240px;
        display: flex;
        justify-content: space-between;
        img {
            cursor: pointer;
        }
    }

    &__list {
        width: 148px;
        display: flex;
        justify-content: space-between;
    }

    &__list-item {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $second_text_color;
        cursor: pointer;
    }
}

@media (max-width: 1422px) {
    .news {
        &__item {
            width: 911px;
            &-title {
                left: 46px;
                bottom: 46px;
                width: 188px;
                font-size: 20px;
                line-height: 25px;
            }
            &__slim {
                width: 453px;
                height: 453px;
            }
        }

        &__info {
            padding: 160px 64px 46px 46px;
            &-title {
                width: 273px;
                font-size: 20px;
                line-height: 24px;
            }
            &-subtitle {
                width: 348px;
            }
            &-link {
                margin-top: 40px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .news {
        padding: 104px 56px 124px;
        &__wrapper {
            gap: 6px;
        }

        &__item {
            width: 100%;
            &-title {
                left: 46px;
                bottom: 46px;
                width: 188px;
                font-size: 20px;
                line-height: 25px;
            }
            &__slim {
                /* width: 453px;
                height: 453px; */
                width: calc(50% - 3px);
                height: 50%;
            }
        }

        &__info {
            padding: 160px 64px 46px 46px;
            &-title {
                width: 273px;
                font-size: 20px;
                line-height: 24px;
            }
            &-subtitle {
                width: 348px;
            }
            &-link {
                margin-top: 40px;
            }
        }

        &__img {
        }

        &__pagination {
            margin-top: 64px;
        }

        &__list {
            &-item {
            }
        }
    }
}
@media (max-width: 1022px) {
    .news {
        padding: 96px 48px 104px;
        &__wrapper {
            gap: 6px;
        }

        &__item {
            width: 672px;
            &-title {
                left: 46px;
                bottom: 46px;
                width: 188px;
                font-size: 20px;
                line-height: 25px;
            }
            &__slim {
                width: 333px;
                height: 333px;
            }
        }

        &__info {
            padding: 187px 99px 32px 32px;
            &-title {
                width: 208px;
                font-size: 16px;
                line-height: 20px;
            }
            &-subtitle {
                display: none;
            }
            &-link {
                margin-top: 40px;
            }
        }

        &__img {
        }

        &__pagination {
            margin-top: 56px;
        }

        &__list {
            &-item {
            }
        }
    }
}
@media (max-width: 768px) {
    .news {
        &__item {
            width: 606px;
            &__slim {
                width: 300px;
                height: 300px;
            }
        }

        &__info {
            padding: 187px 63px 32px 32px;
        }
    }
}

@media (max-width: 702px) {
    .news {
        padding: 64px 24px 80px;
        &__wrapper {
            gap: 6px;
        }

        &__item {
            width: 100%;
            flex-direction: column-reverse;
            &-title {
                left: 24px;
                bottom: 24px;
                width: 158px;
                font-size: 16px;
                line-height: 20px;
            }
            &__slim {
                width: auto;
                height: auto;
            }
            &:last-child {
                flex-direction: column;
            }
        }

        &__info {
            padding: 24px;
            &-title {
                width: auto;
            }
        }

        &__pagination {
            margin-top: 48px;
        }

        &__img {
            &__slim {
                height: 358px;
            }
        }
    }
}
@media (max-width: 624px) {
    .news {
        &__img {
            &__slim {
                height: 318px;
            }
        }
    }
}
@media (max-width: 425px) {
    .news {
        &__img {
            &__slim {
                height: 218px;
            }
        }
    }
}
