.our-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        position: relative;
        &-item {
            position: relative;
            &__wider {
                width: 1314px;
            }
            &:hover {
                .our-project__projects-info {
                    display: flex;
                }
                .our-project__projects-title {
                    display: block;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-info {
            display: none;
            justify-content: space-between;
            width: 181px;
            position: absolute;
            top: 32px;
            left: 32px;
        }
        &-name,
        &-date,
        &-area {
            font-weight: 500;
            font-size: 14px;
            line-height: 170%;
            color: $main_text_color;
        }
        &-title {
            display: none;
            position: absolute;
            bottom: 33px;
            left: 32px;
            font-weight: 700;
            font-size: 20px;
            line-height: 126%;
            color: $main_text_color;
            &__tight {
                width: 273px;
                bottom: 32px;
            }
        }
        &-link {
            display: none;
            position: absolute;
            bottom: 34px;
            left: 32px;

            a {
                @include discover;
                color: $main_text_color;
                padding: 0 71px 0 17px;
                &::before,
                &::after {
                    background: rgba(255, 255, 255, 0.4);
                }
                &::before {
                    width: 9px;
                    height: 1px;
                }
                &::after {
                    width: 63px;
                    height: 1px;
                }
            }
            &:hover {
                a {
                    &::before,
                    &::after {
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }

            &__right {
                left: auto;
                right: 85px;
            }
        }
        &-text {
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            color: $second_text_color;
        }
    }

    &__anchor {
        @include anchor;
        display: none;
        position: absolute;
        color: $third_text_color;
        left: 56px;
        bottom: 429px;
        &::before {
            background: rgba(196, 196, 196, 0.5);
        }
    }
}

@media (max-width: 1330px) {
    .our-project {
        &__projects {
            margin-top: 124px;
            &-about {
                display: none;
            }
            &-item {
                width: 453px;
                &__wider {
                    width: 914px;
                }
            }
            &-info {
                display: flex;
            }
            &-name,
            &-date,
            &-area {
                font-size: 11px;
            }
            &-title {
                bottom: 71px;
                display: block;
                &__tight {
                    bottom: 32px;
                }
            }
            &-link {
                display: block;
            }
            &-text {
            }
        }
    }
}
@media (max-width: 1248px) {
    .our-project {
        &__anchor {
            display: block;
        }
    }
}
@media (max-width: 914px) {
    .our-project {
        padding: 104px 0 0;

        &__projects {
            margin-top: 104px;
            &-about {
                display: none;
            }
            &-item {
                width: 672px;
                &__wider {
                    width: 672px;
                    height: 672px;
                }
            }
            &-title {
                &__tight {
                    bottom: 71px;
                }
            }
            &-link {
                display: block;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }

        &__anchor {
            left: 48px;

        }
    }
}
@media (max-width: 768px) {
    .our-project {
        &__anchor {
            left: 15px;
        }
    }
}
@media (max-width: 695px) {
    .our-project {
        padding: 104px 0 0;

        &__projects {
            margin-top: 104px;
            &-about {
                display: none;
            }
            &-item {
                width: 480px;
                &__wider {
                    width: 480px;
                    height: 480px;
                }
            }
            &-title {
                &__tight {
                    bottom: 71px;
                }
            }
            &-link {
                display: block;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
    }
}

@media (max-width: 624px) {
    .our-project {
        &__anchor {
            display: none;
        }
    }
}

@media (max-width: 525px) {
    .our-project {
        padding: 80px 0 0;

        &__projects {
            margin-top: 80px;
            &-about {
                display: none;
            }
            &-item {
                width: 400px;
                &__wider {
                    width: 400px;
                    height: 400px;
                }
            }
            &-info {
                top: 24px;
                left: 24px;
                width: 160px;
            }
            &-name,
            &-date,
            &-area {
                font-size: 11px;
            }
            &-title {
                bottom: 53px;
                left: 24px;
                &__tight {
                    bottom: 53px;
                }
            }
            &-link {
                display: block;
                bottom: 24px;
                left: 24px;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
        &-text {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

@media (max-width: 425px) {
    .our-project {
        padding: 80px 0 0;
        align-items: normal;

        &__projects {
            margin-top: 80px;
            &-about {
                display: none;
            }
            &-item {
                width: 327px;
                &__wider {
                    width: 327px;
                    height: 327px;
                }
            }
            &-info {
                top: 24px;
                left: 24px;
                width: 160px;
            }
            &-name,
            &-date,
            &-area {
                font-size: 11px;
            }
            &-title {
                bottom: 53px;
                left: 24px;
                &__tight {
                    bottom: 53px;
                }
            }
            &-link {
                display: block;
                bottom: 24px;
                left: 24px;
                &__right {
                    left: 32px;
                    right: auto;
                }
            }
        }
        &-text {
            font-size: 20px;
            line-height: 25px;
        }
    }
}
