.form {
    display: flex;
    flex-direction: column;

    &__container1,
    &__container2 {
        background: #ffffff;
        width: 800px;
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: $fourth_text_color;
    }

    &__container1 {
        padding: 44px 70px;
        &-wrapper {
            margin-top: 38px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 38px 0;
        }
    }
    &__container2 {
        margin-top: 6px;
        padding: 44px 56px 37px 70px;
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            fieldset {
                margin-top: 45px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;
                input {
                    appearance: none;
                    position: relative;
                    background: #afb0b2;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: 7px solid #f7f7f6;
                    transition: 0.2s all linear;
                    z-index: 2;
                    &:checked {
                        background: #ffffff;
                        border: 7px solid #1d1f26;
                    }
                    &::before {
                        position: absolute;
                        width: 47px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -31px;
                        font-weight: 500;
                        font-size: 9px;
                        line-height: 11px;
                        text-align: center;
                        letter-spacing: 0.06em;
                        color: rgba(58, 62, 75, 0.45);
                    }
                    &:nth-child(1) {
                        &::before {
                            content: 'to 50';
                            left: -7px;
                            text-align: left;
                            transform: translateX(0);
                        }
                    }
                    &:nth-child(2) {
                        &::before {
                            content: '50-150';
                        }
                    }
                    &:nth-child(3) {
                        &::before {
                            content: '150-250';
                        }
                    }
                    &:nth-child(4) {
                        &::before {
                            content: '250-400';
                        }
                    }
                    &:nth-child(5) {
                        &::before {
                            content: '400-600';
                        }
                    }
                    &:nth-child(6) {
                        &::before {
                            content: '600-800';
                        }
                    }
                    &:nth-child(7) {
                        &::before {
                            content: '800-1000';
                        }
                    }
                    &:nth-child(8) {
                        &::before {
                            content: '1000+';
                            left: auto;
                            right: -15px;
                            transform: translateX(0);
                        }
                    }
                }
                div {
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: rgba(214, 214, 214, 0.3);
                    z-index: 1;
                }
            }
        }
    }

    &__input-file {
        margin-top: 54px;
        position: relative;
        align-items: center;
        display: flex;
        #file {
            opacity: 0;
            position: absolute;
            z-index: -10;
        }
        label {
            cursor: pointer;
            width: 39px;
            height: 39px;
            background: #f7f7f6;
            border-radius: 50%;
            border: 1px solid rgba(58, 62, 75, 0.08);
            position: relative;
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $fourth_text_color;
            }
            &::before {
                width: 9px;
                height: 1px;
            }
            &::after {
                width: 1px;
                height: 9px;
            }
        }
    }

    .file-info {
        margin-left: 12px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: $fourth_text_color;
        }
        &__subtitle {
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
            letter-spacing: 0.06em;
            color: rgba(58, 62, 75, 0.45);
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $fourth_text_color;
    }

    &__disclaimer {
        margin-top: 37px;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #afb0b2;
    }

    &__btn {
        margin-top: 52px;
        width: 183px;
        height: 42px;
        border: none;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.06em;
        color: $main_text_color;
        background: $fourth_text_color;
    }
}
