.pop-up {
    width: 1046px;
    height: 803px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backdoor {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 101;
        top: 40px;
        right: 40px;
        cursor: pointer;
        img {
            vertical-align: top;
        }
    }
}
@media (max-width: 1248px) {
    .pop-up {
        width: 808px;
    }
    .backdoor {
        &__btn {
            right: 20px;
        }
    }
}
@media (max-width: 900px) {
    .pop-up {
        width: 558px;
        height: 1000px;
        /*         margin-top: 200px; */
    }
    .backdoor {
        /*         overflow-y: scroll;
        padding: 50px 0; */
        &__btn {
        }
    }
}
@media (max-width: 675px) {
    .pop-up {
        background: none;
        margin-top: 50%;
    }
    .backdoor {
        overflow-y: scroll;
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 624px) {
    .pop-up {
        background: none;
        margin-top: 65%;
    }
    .backdoor {
        overflow-y: scroll;
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 525px) {
    .pop-up {
        background: none;
        margin-top: 75%;
    }
    .backdoor {
        overflow-y: scroll;
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 425px) {
    .pop-up {
        background: none;
        margin-top: 70%;
    }
    .backdoor {
        overflow-y: scroll;
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 375px) {
    .pop-up {
        background: none;
        margin-top: 100%;
    }
    .backdoor {
        overflow-y: scroll;
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
