.pop-up {
    width: 1046px;
    height: 803px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__hide {
        display: none;
    }
}
.backdoor {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 101;
        top: 40px;
        right: 40px;
        cursor: pointer;
        img {
            vertical-align: top;
        }
    }
}

.modal {
    &__wrapper {
        background: $main_text_color;
        width: 706px;
        height: 405px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__active {
            display: flex;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $fourth_text_color;
    }
    &__subtitle {
        margin-top: 24px;
        width: 448px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $fourth_text_color;
        opacity: 0.7;
    }
    &__btn {
        margin-top: 40px;
        width: 183px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $main_text_color;
        background: #3a3e4b;
        border: none;
    }

}

@media (max-width: 1248px) {
    .pop-up {
        width: 808px;
    }
    .backdoor {
        &__btn {
            right: 20px;
        }
    }
}
@media (max-width: 900px) {
    .pop-up {
        width: 558px;
        height: 1000px;
    }
    .backdoor {
        overflow-y: scroll;
        align-items: start;
        &__btn {
        }
        &__centered {
            align-items: center;
        }
    }
    .modal {
        &__wrapper {
        }
    }
}
@media (max-width: 768px) {
    .modal {
        &__wrapper {
            width: 520px;
            height: 294px;
        }
    }
}
@media (max-width: 675px) {
    .pop-up {
        background: none;
    }
    .backdoor {
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 624px) {
    .pop-up {
        background: none;
        margin-top: 50px;
    }
    .backdoor {
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
    .modal {
        &__wrapper {
            padding: 40px 24px;
            margin: 0 24px;
            width: auto;
            height: auto;
        }
        &__subtitle {
            width: auto;
        }
    }
}
@media (max-width: 525px) {
    .pop-up {
        background: none;
    }
    .backdoor {
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 425px) {
    .pop-up {
        background: none;
    }
    .backdoor {
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
@media (max-width: 375px) {
    .pop-up {
        background: none;
    }
    .backdoor {
        &__btn {
            top: 24px;
            bottom: 24px;
        }
    }
}
