.heading {
    padding: 0 63px 40px;
    background: url('@img/oneProject/title_bg.png') center center/cover no-repeat;

    &__wrapper {
        margin-left: 135px;
        margin-top: 166px;
    }

    &__caption {
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $main_text_color;
        br {
            display: none;
        }
    }

    &__subtitle {
        width: 462px;
        margin-top: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $main_text_color;
    }

    &__info {
        margin-top: 64px;
        width: 337px;
        display: flex;
        justify-content: space-between;
        img {
            margin-right: 12px;
        }
    }

    &__place {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $main_text_color;
        opacity: 0.7;
    }

    &__calendar {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $main_text_color;
        opacity: 0.7;
    }

    &__area {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: $main_text_color;
        opacity: 0.7;
    }

    &__social {
        margin-top: 198px;
        width: 121px;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before {
            content: 'Share:';
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: $main_text_color;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -111px;
        }
    }

    &__social-item {
    }
}

@media (max-width: 1024px) {
    .heading {
        padding: 0 54px 33px;

        &__wrapper {
            margin-top: 136px;
            margin-left: 105px;
        }

        &__caption {
        }

        &__title {
            font-size: 32px;
            line-height: 39px;
            width: 452px;
            br {
                display: block;
            }
        }

        &__subtitle {
        }

        &__info {
            margin-top: 48px;
        }

        &__place {
        }

        &__calendar {
        }

        &__area {
        }

        &__social {
            margin-top: 175px;
            &::before {
                left: -105px;
            }
        }

        &__social-item {
        }
    }
}
@media (max-width: 768px) {
    .heading {
        padding: 0 54px 33px;

        &__wrapper {
            margin-top: 272px;
            margin-left: 76px;
        }

        &__caption {
        }

        &__title {
            width: auto;
            br {
                display: block;
            }
        }

        &__subtitle {
        }

        &__info {
            margin-top: 32px;
        }

        &__place {
        }

        &__calendar {
        }

        &__area {
        }

        &__social {
            margin-top: 311px;
            &::before {
                left: -76px;
            }
        }

        &__social-item {
        }
    }
}
@media (max-width: 624px) {
    .heading {
        padding: 0 24px 33px;

        &__wrapper {
            margin-top: 48px;
            margin-left: 0;
            width: auto;
        }

        &__caption {
        }

        &__title {
            font-size: 26px;
            line-height: 32px;
            br {
                display: block;
            }
        }

        &__subtitle {
            margin-top: 16px;
            width: auto;
        }

        &__info {
            margin-top: 32px;
            height: 96px;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__place {
        }

        &__calendar {
        }

        &__area {
        }

        &__social {
            margin-top: 58px;
            margin-left: 62px;
            &::before {
                left: -61px;
            }
        }

        &__social-item {
        }
    }
}
