.more-project {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    position: relative;

    &__link {
        margin-top: 16px;
        a {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: $main_text_color;
            text-decoration: none;
            &:hover {
                color: $main_text_color;
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: 8px;
        line-height: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        color: $third_text_color;
    }

    &__img {
        margin: 128px 64px 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__anchor {
        @include anchor;
        display: none;
        color: rgba(255, 255, 255, 0.13);
        top: 190px;
        left: 56px;

        &::before {
            background: rgba(255, 255, 255, 0.04);
        }
    }
}

@media (max-width: 1248px) {
    .more-project {
        &__anchor {
            display: block;
            left: 30px;
        }
    }
}
@media (max-width: 1024px) {
    .more-project {
        &__link {
            margin-top: 14px;
        }

        &__text {
        }

        &__img {
            margin: 98px 56px 0;
        }

        &__anchor {
            display: block;
        }
    }
}
@media (max-width: 894px) {
    .more-project {
        &__anchor {
            display: block;
            left: 30px;
        }
    }
}
@media (max-width: 768px) {
    .more-project {
        &__link {
            margin-top: 14px;
        }

        &__text {
        }

        &__img {
            margin: 72px 48px 0;
        }

        &__anchor {
            display: block;
            left: 14px;
            top: 170px;
        }
    }
}
@media (max-width: 624px) {
    .more-project {
        &__anchor {
            display: none;
        }
    }
}
@media (max-width: 425px) {
    .more-project {
        &__link {
            margin-top: 14px;
        }

        &__text {
        }

        &__img {
            margin: 56px 24px 0;
        }

        &__anchor {
            display: block;
        }
    }
}
