.footer {
    padding: 0 63px 40px;
    .license {
        margin-top: 0;
    }
}
@media (max-width: 1024px) {
    .footer {
        padding: 0 56px 24px;
    }
}
@media (max-width: 768px) {
    .footer {
        padding: 0 48px 24px;
    }
}
@media (max-width: 425px) {
    .footer {
        padding: 24px 24px;
        .license {
            margin-top: 9px;
        }
    }
}
